<main class="container-xxl homepage">
    <div class="container my-5">
        <p class="lead text-light">
            If you're encountering display or graphics issues, you can press Ctrl+Shift+Win+B to force Windows to take action. This shortcut alerts the system to a potential graphics issue, which results in Windows restarting your video driver.
        </p>
        <p class="text-light lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta illo unde voluptate illum id necessitatibus fugit dicta labore enim, dolor maiores, distinctio fuga molestias, ullam magni ex atque eos iste quidem. Quidem sequi aliquid, ex, a nesciunt illo ut eligendi placeat sapiente, vel optio illum.
        </p>
        <p class="text-light lead">
            Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat at ad rem eos, quaerat consectetur earum repellendus est odio voluptas nulla possimus dolor animi laudantium ipsam, eligendi autem. Nesciunt blanditiis pariatur voluptas! Sequi ullam incidunt, quia, earum sed asperiores aliquid nam et architecto tempora vero! Quis doloribus consequuntur quibusdam, nulla minus eum? Quam, eos nesciunt itaque corrupti aliquid perspiciatis ullam possimus consequatur quis aut omnis. Amet ad architecto dolor. isicing elit. Soluta illo unde voluptate illum id necessitatibus fugit dicta labore enim, dolor maiores, distinctio fuga molestias, ullam magni ex atque eos iste quidem. Quidem sequi aliquid, ex, a nesciunt illo ut eligendi placeat sapiente, vel optio illum.
        </p>
    </div>
</main>

<script>
    //background img
    document.body.style.background = `linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url('../img/bg.jpg') no-repeat fixed center center/cover`
</script>
 